summary.sb-accordion-header {
  border-bottom: 0.05em solid currentColor;
  clear: right;
  cursor: pointer;
  list-style: none;
}
summary.sb-accordion-header:before {
  box-sizing: content-box;
  content: "\2303";
  float: right;
  height: 0.75em;
  overflow: hidden;
  padding: 0 0.5em 0.5em 0;
  text-align: right;
  transform: rotateX(180deg);
  transition: transform 0.25s linear;
  width: 0.75em;
}
details.sb-accordion[open] > summary.sb-accordion-header:before {
  transform: rotateX(0deg);
}
