.sb-avatar:not([role="group"]) {
  display: inline-flex;
  border: var(--hair-line) solid var(--border-color);
  border-radius: var(--round-border-radius);
  font-size: 0.875em;
  font-weight: 700;
  width: 2.25em;
  height: 2.25em;
  line-height: 2.25em;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}
.sb-avatar > img:first-child {
  overflow: hidden;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  border-radius: var(--round-border-radius);
  object-fit: cover;
}
.sb-avatar[role="group"] {
  display: inline-block;
  perspective: 1000em;
  transform-style: preserve-3d;
}
.sb-avatar[role="group"][aria-expanded="true"] .sb-avatar + .sb-avatar {
  margin-left: 0.25em;
}
.sb-avatar[role="group"]:not([aria-expanded="true"]) .sb-avatar + .sb-avatar {
  margin-left: -0.5em;
  transform: translateZ(-0.1em);
}
.sb-avatar[role="group"]:not([aria-expanded="true"])
  .sb-avatar
  + .sb-avatar:nth-child(3) {
  transform: translateZ(-0.2em);
}
.sb-avatar[role="group"]:not([aria-expanded="true"]) {
  counter-reset: items;
}
.sb-avatar[role="group"]:not([aria-expanded="true"])
  .sb-avatar:nth-child(3):not(:last-child),
.sb-avatar[role="group"]:not([aria-expanded="true"])
  .sb-avatar
  + .sb-avatar
  + .sb-avatar
  + .sb-avatar {
  counter-increment: items;
}
.sb-avatar[role="group"]:not([aria-expanded="true"])
  .sb-avatar
  + .sb-avatar
  + .sb-avatar:not(:last-child) {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.sb-avatar[role="group"]:not([aria-expanded="true"])
  .sb-avatar
  + .sb-avatar
  + .sb-avatar
  + .sb-avatar:last-child {
  text-indent: -10em;
  transform: translateZ(-0.2em);
  overflow: hidden;
}
.sb-avatar[role="group"]:not([aria-expanded="true"])
  .sb-avatar
  + .sb-avatar
  + .sb-avatar
  + .sb-avatar:last-child:before {
  content: "+" counter(items);
  border: inherit;
  width: inherit;
  text-indent: 0;
  font-weight: 400;
  font-size: 0.85em;
  position: absolute;
  border-radius: var(--round-border-radius);
  text-align: center;
}
.sb-avatar[role="group"]:not([aria-expanded="true"])
  .sb-avatar
  + .sb-avatar:nth-child(101)
  ~ .sb-avatar:last-child:before {
  font-size: 0.6em;
  text-indent: 0.2em;
}
.sb-avatar[data-random="1"],
.sb-avatar[data-random="1"]:before {
  background: var(--random-color1);
}
.sb-avatar[data-random="2"],
.sb-avatar[data-random="2"]:before {
  background: var(--random-color2);
}
.sb-avatar[data-random="3"],
.sb-avatar[data-random="3"]:before {
  background: var(--random-color3);
}
.sb-avatar[data-random="4"],
.sb-avatar[data-random="4"]:before {
  background: var(--random-color4);
}
.sb-avatar[data-random="5"],
.sb-avatar[data-random="5"]:before {
  background: var(--random-color5);
}
.sb-avatar[data-random="6"],
.sb-avatar[data-random="6"]:before {
  background: var(--random-color6);
}
.sb-avatar[data-random="7"],
.sb-avatar[data-random="7"]:before {
  background: var(--random-color7);
}
.sb-avatar[data-random="8"],
.sb-avatar[data-random="8"]:before {
  background: var(--random-color8);
}
.sb-avatar > .sb-badge {
  background: #d00;
  border-radius: 50%;
  border-color: #fff;
  border: 0.075em solid;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.sb-avatar[role="group"] .sb-avatar:nth-child(3):not(:last-child) .sb-badge {
  display: none;
}
