.sb-checkbox {
  cursor: pointer;
}
.sb-checkbox input[type="checkbox"] {
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: var(--hair-line) solid var(--border-color);
  border-radius: var(--border-radius);
  width: 1.125em;
  height: 1.125em;
  vertical-align: -0.25em;
  line-height: 1.125em;
  position: relative;
}
.sb-checkbox input[type="checkbox"]:before {
  content: ' ';
  position: absolute;
  line-height: 1.5em;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
}
.sb-checkbox input[type="checkbox"]:checked:before {
  content: '\2714';
}
.sb-checkbox input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
.sb-checkbox input[type="checkbox"]:disabled:not(:checked) {
  background: var(--border-color);
}
.sb-checkbox input[type="checkbox"]:disabled:before {
  color: var(--border-color);
}
.sb-checkbox input[type="checkbox"][role="switch"] {
  border-radius: 0.5125em;
  width: 2em;
  transition: background 0.1s linear;
  background: var(--border-color);
}
.sb-checkbox input[type="checkbox"][role="switch"]:checked {
  background: var(--primary);
}
.sb-checkbox input[type="checkbox"][role="switch"]:before {
  content: '';
  top: 0.1em;
  left: 0.1em;
  width: 0.85em;
  height: 0.85em;
  transform: translateX(0);
  transition: transform 0.1s linear;
  background: var(--background);
  border-radius: var(--round-border-radius);
  color: var(--primary-text);
}
.sb-checkbox input[type="checkbox"][role="switch"]:checked:before {
  transform: translateX(0.9em);
}
.sb-checkbox input[type="checkbox"][role="switch"]:disabled {
  background: var(--border-color);
}
.sb-checkbox input[type="checkbox"][role="switch"]:disabled:before {
  background: var(--border-color);
}