.sb-checkbox {
  cursor: pointer;
}
.sb-checkbox input[type="checkbox"] {
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: var(--hair-line) solid var(--border-color);
  border-radius: var(--border-radius);
  width: 1.125em;
  height: 1.125em;
  vertical-align: -0.25em;
  line-height: 1.125em;
  position: relative;
}
.sb-checkbox input[type="checkbox"]:focus {
  box-shadow: box-shadow: 0 0 0 0.125em var(--background), 0 0 0 0.25em var(--primary);
}
.sb-checkbox input[type="checkbox"]:before {
  content: ' ';
  position: absolute;
  line-height: 1.5em;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
}
.sb-checkbox input[type="checkbox"]:checked:before {
  content: '\2714';
}
