.sb-message {
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
}
.sb-message.success {
  background: var(--success);
}
.sb-message.info {
  background: var(--info);
}
.sb-message.warning {
  background: var(--warning);
}
.sb-message.error {
  background: var(--error);
}
.inline.sb-message {
  background: transparent;
  padding: 0;
  display: inline;
}
.inline.sb-message.success {
  color: var(--success-text);
}
.inline.sb-message.info {
  color: var(--info-text);
}
.inline.sb-message.warning {
  color: var(--warning-text);
}
.inline.sb-message.error {
  color: var(--error-text);
}
