.sb-radio {
  cursor: pointer;
}
.sb-radio.disabled {
  color: var(--border-color);
}
.sb-radio input[type="radio"] {
  appearance: none;
  cursor: pointer;
  border: var(--hair-line) solid var(--border-color);
  border-radius: var(--round-border-radius);
  width: 1.125em;
  height: 1.125em;
  vertical-align: -0.25em;
  line-height: 1.125em;
  position: relative;
}
.sb-radio input[type="radio"]:before {
  content: ' ';
  position: absolute;
  line-height: 1.5em;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
}
.sb-radio input[type="radio"]:checked:before {
  content: '\25cf';
}
.sb-radio input[type="radio"]:disabled {
  background: var(--border-color);
}
.sb-radiogroup[role="radiogroup"] {
  display: inline-block;
}