.sb-tabs > [role="tablist"] {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sb-tabs > [role="tablist"][aria-orientation="horizontal"] {
  border-bottom: 0.025em solid var(--border-color);
}
.sb-tabs > [role="tablist"][aria-orientation="vertical"] {
  display: inline-block;
  border-right: 0.025em solid var(--border-color);
}
.sb-tabs > [role="tablist"][aria-orientation="vertical"] ~ [role="tabpanel"]:not([hidden]) {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5em;
}
.sb-tabs > [role="tablist"][aria-orientation="horizontal"] > [role="tab"] {
  display: inline-block;
}
.sb-tabs > [role="tablist"] > [role="tab"] {
  cursor: pointer;
  padding: 0 0.5em;
}
.sb-tabs
  > [role="tablist"][aria-orientation="horizontal"]
  > [role="tab"] {
  border-bottom: 0.125em solid transparent;
}
.sb-tabs
  > [role="tablist"][aria-orientation="vertical"]
  > [role="tab"] {
  border-right: 0.25em solid transparent;
}

.sb-tabs > [role="tablist"] > [role="tab"]:hover:not(:active, [aria-selected="true"]),
.sb-tabs > [role="tablist"] > [role="tab"]:focus:not(:active, [aria-selected="true"]) {
  border-color: var(--border-color);
}
.sb-tabs > [role="tablist"] > [role="tab"][aria-selected="true"] {
  font-weight: 700;
  cursor: default;
}
.sb-tabs
  > [role="tablist"]
  > [role="tab"][aria-selected="true"] {
  border-color: var(--primary);
}
