html,
body {
  height: 100%;
}

.app {
  font-size: calc(1em + 1vmin);
  line-height: 1.5em;
  padding: 0em 1em 3em 1em;
  height: 100%;
}

.app > * + * {
  margin-top: 1em;
}

.flex-row {
  display: flex;
}
.flex-row > * + * {
  margin-left: 1em;
}
