.sb-modal[role="dialog"] {
  position: fixed;
  inset: 0 0 0 0;  
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 0;
  padding: 0;
}
.sb-modal[role="dialog"]:not(.without-overlay):before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: var(--text);
  opacity: 0.25;
  z-index: var(--stack-overlay);
}
.sb-modal[role="dialog"] .sb-modal-content {
  background: var(--background);
  border-radius: var(--border-radius);
  color: var(--text);
  padding: 0.5em;
  z-index: var(--stack-modal);
}
.sb-modal[role="dialog"] .sb-modal-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.sb-modal[role="dialog"] .sb-modal-footer {
  display: flex;
  justify-content: flex-end;
}